@model IEnumerable<RentAndDrive.Models.Users.Mdl.VwRoleDescription>
@{
    ViewBag.Title = "Remover Acessos";
    string userId = TempData["UserId"] as string;
    string id = TempData["Id"] as string;
    TempData["Id"] = id;

}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Utilizadores e Funcion&aacute;rios</li>
        <li class="breadcrumb-item">Usu&aacute;rios</li>
        <li class="breadcrumb-item"><a href="@Url.Action("GerirAcessos", "Users", new { id })">Gerir Acessos</a></li>
        <li class="breadcrumb-item active">Remover Acessos</li>
    </ol>
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#dataTable').DataTable({
            paginate: true,
            autoWidth: false,
            select: true,
            //Necessario desativar o scrollX e scrollY para acertar o header com o body.
            //scrollResize: true,
            //scrollY: 300
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Procurar ...",
            }
        });

        $('#dataTable tbody').on('click', 'tr', function () {

            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>

@using (Html.BeginForm("RemoverAcessos", "Users", new { userId }, FormMethod.Post, new { id = "formSaveRoles" }))
{
    <div class="card mb-4">
        <div class="card mb-2">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Remover Acessos
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="dataTable" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Acesso</th>
                                <th style="max-width: 20%">Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="font-size:11px;">@item.Descricao</td>
                                    <td style="font-size:11px;">
                                        <input type="checkbox" id="CheckSelect" name="selectedRoles" value="@item.IdAcesso" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="card-footer">
                <center>
                    <a href="@Url.Action("Index", "Users")" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </center>
            </div>
        </div>
    </div>
}